* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #1d2634;
    color: lightgray;
    font-family: "Roboto", sans-serif;


}

.material-icons-outlined{
    vertical-align: middle;
    font-size: 40px;
    line-height: 1px;
    margin-right: 5px;
    cursor: pointer;
}
#menu{
    cursor: none;
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr 1fr 1fr;
    grid-template-rows: 1fr 15fr;
    gap: 0px;
    grid-template-areas:
      "side-bar header header header"
      "side-bar main-content main-content main-content";
    height: 100vh;
    width: 100vw;
  }
  
  

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    box-shadow: 0 6px 7px -3px black;
}
.search-bar{
    display: flex;
    align-items: center;
}
#input-search{
    position: relative;
    width:100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 0.75rem;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);

}
.hamburger-icon{
    display: none;
}
.side-bar{
    grid-area: side-bar;
    height:100%;
    background-color: #263043;
    padding: 20px;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 


.side-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    margin-bottom: 30px;
}

#close-btn{
    display: none;
}   

.side-bar-main{
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    align-items: center; 

}
.side-bar-main > span {
    margin-left: 10px; 
}
.menu{
    padding: 0;
    margin-top:15px;
    list-style-type:none;
}
.menu-list{
    display: flex;
    padding: 20px;
    font-size: 18px;
    align-items: center;

}
#selected {
    background-color: #313c53;
}
.menu-list > span {
    margin-left: 10px; 
}
.menu-list:hover{
    background-color: rgba(255, 255, 255, 0.212);
    cursor:pointer;
}
.menu-list > a {
    text-decoration: none;
    color: grey;
  }
.side-bar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}
.main-content {
    grid-area: main-content;
    padding: 30px;
    overflow-y: auto;
    color:rgba(255, 255, 255, 0.95);
}    

.main-title{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:30px;
    margin:30px;

}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:30px;
    border-radius:10px;

}


.wrapper {
    background: #1d2634;
    border-radius: 10px;
    color: white;
    box-shadow: 25px 25px 75px rgba(0, 255, 255, 0.212);


}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span {
    height: 38px;
    width: 38px;
    color: grey;
    font-size: 1.9rem;
    font-weight: bolder;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background: #f2f2f2;
}

header .icons span:hover{
    background: whitesmoke;
}

header .icons span:active{
    background: darkgrey;
}
header .icons span:last-child{
    margin-right: -10px;

}

.calendar{
    padding: 20px;
}


.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.weeks li{
    font-weight: 500;
    font-size: large;
}
.days li{
    z-index: 1;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;


}
.calendar ul li{
    margin-bottom: 15px;
    width: calc(100%/7);
}

.days li.inactive{
    color: #aaa;
}

.days li.active{
    color: white;
}

.calendar .days li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: -1;
}

.calendar .days li.active::before{
    background-color: #9B59B6;
}

.calendar .days li:hover::before{
    background-color: #f2f2f2;
}

.card-inner > .material-icons-outlined {
    font-size: 50px;
}


.to-list-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-box h3{
    width: 100%;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;

}

.list-box{
    position: relative;
    width: 450px;
    height: 550px;
    padding: 20px;
}
#input-task{
    position: relative;
    width:100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 1200px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 15fr;
        grid-template-areas:
            "header"
            "main-content";
    }
    .side-bar{
        display: none;
    }

    .hamburger-icon{
        display: flex;
        cursor: pointer;
    }
    .side-bar-title{
        display: flex;
    }
    #close-btn{
        display: flex;
        margin-left: 2rem;
        cursor: pointer;
    } 
}

@media screen and (max-width: 950px){
    .main-cards{
        display: flex;
        flex-direction: column;
        min-width: auto;
    }
}
